body {
  background-image: url(./background.jpg);
  background-size: cover;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: white;
}

.countdown .title {
  font-size: 3rem;
}

.countdown .list {
  display: flex;
  text-align: center;
}

.countdown .item {
  font-size: 1.5rem;
  margin: 1.5rem;
}

.countdown .number {
  font-size: 2.5rem;
  display: block;
}
